:root {
  --color-primary: #0078d4;
  --color-primary-hover: #106ebe;
  --color-text-default: #404040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected {
  color: var(--color-primary-hover) !important;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-item-active::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after {
  border-bottom: 3px solid var(--color-primary-hover);
}

.ant-menu .ant-menu-title-content {
  font-size: 16px !important;
}

.white-text {
  color: white;
}

.blue-text {
  color: var(--color-primary);
}

.cursor-pointer {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}